In [ ]:
age = 18 # 年齢

if age < 20:
  '''
  # 未成年の場合
  print("ジュースで乾杯！")
else:
  '''
  # 青年の場合
  print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)
print(type(30 / 3))

63
18
90
10.0
5
<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
print("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# ３つの変数を文字列に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
# 変数を定義
top_side = 10
bottom_side = 20
hight = 5

#台形の面積を求める
trapezoid_area = (top_side + bottom_side) * hight / 2

# 面積を表示する
print(str(trapezoid_area) + "cm²")

75.0cm²

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) #　3番目の要素を削除
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'アメリカ', '日本', 'フランス', 'イギリス'}
{'日本', 'アメリカ', 'フランス', 'イギリス', 'ドイツ'}
{'日本', 'アメリカ', 'フランス', 'ドイツ'}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
# リスト配列を作成
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

# 水曜日の天気を取り出し出力
print(array[2])

# 連想配列を作成
dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}

# 水曜日の天気を取り出し出力
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [2]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する

63
True

In [3]:
print("5" == 5)

False

In [4]:
num1 = 5
num2 = "5"

if num1 == int(num2):
    print("num1とnum2は等しいです")

num1とnum2は等しいです

In [15]:
# ランダムな整数を利用するために、randamモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
    print("大当たりです")

4
大当たりです

In [28]:
# ランダムな整数を利用するために、randamモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が４なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

1
はずれです

In [34]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
else:
    print("はずれです")

3
当たりです

In [70]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）if 1 < num < 3: と書くこともできる
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

4
and条件が成り立ちませんでした
or条件が成り立ちませんでした

In [83]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数varに0～50までのランダムな整数を代入する
var = random.randint(0, 50)

# 変数varが、3と５の倍数の時に処理を行う
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
# 変数varが、3の倍数の時に処理を行う
elif var % 3 == 0:
      print("Fizz")
# 変数varが,5の倍数の時に処理を行う
elif var % 5 == 0:
      print("Buzz")
else:
      print(var)

Buzz